html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }



/* CENTER TEXT IN A DIV */
body {
  font: 36px Arial, sans-serif;
}

#container {
  color: white;
  background: #ffbd17;
  width: 800px;
  height: 460px;
}

#content {
/* background and width are not necessary.  they are here for demonstration purposes */
  background: #06c;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* DISAPPEARING BANNER BOX */

.black-ad-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 54px;
  font-size: 12px;
}

.black-ad-banner {
    -moz-animation: cssAnimation 0s ease-in 10s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


.shop-white {
  color: white;
  font-size: 10px;
  padding-left: 20px;
  text-decoration: underline;
}

i.fa-chevron-left {
  font-size: 16px;
  padding-left: 150px;
}
i.fa-chevron-right {
  font-size: 16px;
  padding-right: 150px;
}


/* <!-- NEXT PROJECT -->
<!-- USE FLOAT AND TRANSFORM TO CREATE POLAROIDS --> */

.full-panel {
  height: 500px;
  background-color: #eeeeee;
  margin: 30px;
}

div.container {
  padding: 100px 250px 100px 250px;
}

div.polaroid {
  width: 284px;
  height: 304px;
  background-color: white;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  font-size: 14px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

div.rotate-right {
  float: left;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}

div.rotate-left {
  float: left;
  -ms-transform: rotate(-8deg); /*IE 9*/
  -webkit-transform: rotate(-8deg); /*Safari */
  transform: rotate(-8deg);
}



/* CDENTER TEXT IN A DIV */
.blue-box {
  background-color: blue;
  height: 400px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.yellow-box {
  font-size: 42px;
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin-right: 5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
  }



/* ANIMATION TO ROTATE SIZE MOVE */


.razzle-dazzle-flexbox {
  display: flex;
  justify-content: center;
  align-content: center;
}



.razzle-dazzle-container {
  width: 800px;
  height: 600px;
  margin: 50px;
  border: 1px solid #000;
  position: relative;
}





.razzle-dazzle {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; margin-left:400px; margin-top:250px;}
  50%  {background-color:red; height:400px; margin-left:calc(50% - 200px); margin-bottom:calc(50% - 50px); transform: rotate(720deg)}
  100% {background-color:red; height:100px; width:100px; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; margin-left:400px; margin-top:250px;}
  50%  {background-color:red; height:400px; width:400px; margin-left:calc(50% - 200px); margin-bottom:calc(50% - 50px); transform: rotate(720deg)}
  100% {background-color:red; height:100px; width:100px; left:0px; top:0px;}
}


  /* testing */
